<%= provide(:title, 'Edit Note') %>
<%= provide(:button_text, 'Edit Note') %>

<div class="container">
  <div class="row">
    <div class="forms col-md-6 offset-md-3">
      <h1 class="text-center">Edit Note</h1>
      
      <%= render 'edit_form' %>
      <br />
    </div>
  </div>
</div>
