<%= provide(:title, "New Note") %>
<%= provide(:button_text, "Create Note") %>

<div class="container">
  <div class="row">
    <div class="forms col-md-6 offset-md-3">
      <h1 class="text-center">New Note</h1>
      
      <%= render 'new_form' %>
      <br />
    </div>
  </div>
</div>
