<%= provide(:title, "New Note") %>
<%= provide(:button_text, "Create Note") %>

<div class="row">
  <div class="forms col-md-6 col-md-offset-3">
    <h1 class="text-center">New Note</h1>
    
    <%= render 'new_form' %>
  </div>
</div>
