<%= provide(:title, 'Edit User') %>
<%= provide(:button_text, 'Save Changes') %>

<div class="container">
  <div class="row">
    <div class="forms col-md-6 offset-md-3">
      <h1 class="text-center">Edit User</h1>
      
      <%= render 'form' %>
    </div>
  </div>
</div>
