@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


/* variables */

$background: #282a36;
$foreground: #f8f8f2;
$green: #50fa7b;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;


/* universal */

body, html {
  height: 100%;
  overflow: auto;
  font-family: "system-ui", sans-serif;
  color: $foreground;
  background: $background;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $green;
}

h1 {
  font-size: 2.3em;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
}

p {
  font-size: 1.3em;
  line-height: 1.7em;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.cancel {
  width: 100%;
  margin-bottom: 15px;
}

.forms {
  font-size: 1.1em;
}

#error_explanation {
  color: $red;
  ul {
    color: $red;
    list-style: none;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $red;
  }
}
